@use 'color' as base;

$color: (
  'blue': base.$color-blue,
  'green': base.$color-green,
  'indigo': base.$color-indigo,
  'orange': base.$color-orange,
  'pink': base.$color-pink,
  'purple': base.$color-purple,
  'red': base.$color-red,
  'teal': base.$color-teal,
  'yellow': base.$color-yellow,
);

$gray: (
  'light': (
    1: base.$color-gray-light-1,
    2: base.$color-gray-light-2,
    3: base.$color-gray-light-3,
    4: base.$color-gray-light-4,
    5: base.$color-gray-light-5,
    6: base.$color-gray-light-6,
    7: base.$color-white,
  ),
  'dark': (
    1: base.$color-gray-dark-1,
    2: base.$color-gray-dark-2,
    3: base.$color-gray-dark-3,
    4: base.$color-gray-dark-4,
    5: base.$color-gray-dark-5,
    6: base.$color-gray-dark-6,
    7: base.$color-black,
  ),
);
