$color-blue: rgb(0, 122, 255);
$color-green: rgb(52, 199, 89);
$color-indigo: rgb(88, 86, 214);
$color-orange: rgb(255, 149, 0);
$color-pink: rgb(255, 45, 85);
$color-purple: rgb(175, 82, 222);
$color-red: rgb(255, 59, 48);
$color-teal: rgb(90, 200, 250);
$color-yellow: rgb(255, 204, 0);

$color-black: rgb(0, 0, 0);
$color-gray-dark-6: rgb(28, 28, 30);
$color-gray-dark-5: rgb(44, 44, 46);
$color-gray-dark-4: rgb(58, 58, 60);
$color-gray-dark-3: rgb(72, 72, 74);
$color-gray-dark-2: rgb(99, 99, 102);
$color-gray-dark-1: rgb(142, 142, 147);
$color-gray-light-1: rgb(142, 142, 147);
$color-gray-light-2: rgb(174, 174, 178);
$color-gray-light-3: rgb(199, 199, 204);
$color-gray-light-4: rgb(209, 209, 214);
$color-gray-light-5: rgb(229, 229, 234);
$color-gray-light-6: rgb(242, 242, 247);
$color-white: rgb(255, 255, 255);
