$font-family-fallback: 'SF Pro Icons', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', 'Lucida Grande', sans-serif;
$font-family-text: 'SF Pro Text', $font-family-fallback;
$font-family-display: 'SF Pro Display', $font-family-display;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
